#slider {
     position: relative;
     margin: auto;
     margin-top: 20px;
     height: 500px;
     border: 5px black solid;
     overflow: hidden;
}

#wrapper {
     width: 400%;
     height: 100%;
     transition: transform 0.5s ease-in-out;
}

#wrapper .content {
     float: right;
     width: 25%;
     height: 100%;
}

#wrapper .content img {
     width: 100%;
}

#navLinks {
     text-align: center;
     position: absolute;
     top: 0;
     right: 45%;
}

#navLinks ul {
     margin: 0px;
     padding: 0px;
     display: inline-block;
     margin-top: 6px;
}

#navLinks ul li {
     float: right;
     text-align: center;
     margin: 10px;
     padding: 5px;
     cursor: pointer;
     background-color: #ccc;
     list-style: none;
     border: 5px solid black;
     border-radius: 50%;
}

#navLinks ul li:hover {
     border-color: #32a0c2;
}

#navLinks ul li.active {
     border-color: #39b6dc;
}

#navLinks ul li.active:hover {
     border-color: #0c0c0c;
}