@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
*{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
}
body {
     font-family: 'El Messiri', sans-serif;
}
.top {
     background-color: #371e71;
}
.container {
     max-width: 1200px;
     padding-inline: 30px;
     margin: auto;
}
header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 40px;
}
header .right-top a {
     text-decoration: none;
     color: white;
     font-size: 28px;
}
header .left-top ul {
     list-style: none;
     display: flex;
     gap: 10px;
     font-size: 25px;
}
header .left-top ul a {
     text-decoration: none;
     color: white;
}
header .left-top .active {
     color: #fbb03b;
}
.middle {
     background-image: url(../img/slider-img2.png);
     background-repeat: no-repeat;
     background-position: left;
     min-height: 700px;
     background-size: 40%;
     display: flex;
     flex-direction: column;
     justify-content: center;
}
.middle h1 {
     color: white;
     font-size: 55px;
     width:50%;
     padding-bottom: 10px;
}
.middle p {
     color: white;
     font-size: 20px;
     width: 50%;
}
/* Start newsletter */
#newsletter {
     padding: 15px 40px;
     background: #f8f7fb;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
}
#newsletter h1 {
     float: right;
}
#newsletter form {
     float: left;
     margin-top: 15px;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
}

#newsletter input[type="email"]{
     padding: 4px;
     height: 30px;
     width: 250px;
}

.button {
     height: 30px;
     background: #cccccc;
     padding-inline: 20px;
     color: #353637;
}
main {
     padding-block: 50px;

}
main h1 {
     text-align: center;
     padding-bottom: 20px;
}
.grid {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
     gap: 10px;
}
.grid .box {
     padding: 20px;
     text-align: center;
}
.grid .box i {
     padding-bottom: 20px;
}
.grid .box p {
     width: fit-content;
     padding-top: 10px;
}
@media (width < 1191px) {
     .middle h1 {
          font-size: 50px;
     }
     .middle p {
          font-size: 17px;
     }
}
@media (width < 1020px) {
     .middle {
          background-image: none;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
     }
     .middle h1 {
          font-size: 55px;
          width: 100%;
     }
     .middle p {
          font-size: 20px;
          width: 100%;
     }
}
@media (width < 818px) {
     #newsletter form {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          align-content: center;
     }
     .button {
          width: 100%;
     }
     #newsletter h1 {
          text-align: center;
     }
}
@media (width < 490px) {
     .middle {
          min-height: 400px;
     }
     .middle h1 {
          font-size: 40px;
          
     }
     .middle p {
          font-size: 15px;
        
     }
     .grid {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          gap: 10px;
     }
}
@media (width < 377px) {
     .none {
          display: none;
     }
     .middle {
          min-height: 300px;
     }
     .middle h1 {
          font-size: 25px;
          
     }
     .middle p {
          font-size: 10px;
     }
     #newsletter input[type="email"]{
          width: fit-content;
     }

}
@media (width < 300px) {
     .grid {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     }
}