@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
:root{
     --text-color: #080c07;
     --backgroun-color: #f7faf6;
     --primary-color: #7daa6c;
     --secndary-color: #a5cbcb;
     --acount-color: #839cb8;

}


body {
     font-family: 'El Messiri', sans-serif;
}

