@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');
:root{
     --text-color: #080c07;
     --backgroun-color: #f7faf6;
     --primary-color: #7daa6c;
     --secndary-color: #a5cbcb;
     --acount-color: #839cb8;

}


body {
     font-family: 'El Messiri', sans-serif;
     padding: 0;
     margin: 0;
     background-color: #f4f4f4;
     direction: rtl;
}

main {
     display: flex;
     flex-wrap: wrap;
}

main>section {
     width: 100%;
     margin: auto;
     overflow: hidden;
}
/* Start Header */
#header {
     background: #353637;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
     border-bottom: 3px solid #32a0c2;
     padding: 0px 120px;
}
#branding h1 {
     font-size: 28px;
}

nav > ul {
     margin-top: 0;
     list-style-type: none;
}

#header a {
     color: white;
     text-decoration: none;
}

nav > ul > li {
     float: right;
     margin-left: 15px;
}

li a {
     text-decoration: none;
     color: white;
}

#header .highlight, #header .current a {
     color: #32a0c2;
}
/* End Header */
/* Start showcase */
#showcase {
     min-height: 620px;
     background: url('../img/showcase.png') no-repeat center;
     background-size: cover;
     text-align: center;
     color: white;
}

#showcase h1 {
     margin-top: 150px;
     font-size: 55px;
     margin-bottom: 10px;
}

#showcase p {
     font-size: 20px;
}
/* End showcase */
/* Start newsletter */
#newsletter {
     padding: 15px 120px;
     color: white;
     background: #353637;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
}
#newsletter h1 {
     float: right;
}
#newsletter form {
     float: left;
     margin-top: 15px;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
}

#newsletter input[type="email"]{
     padding: 4px;
     height: 25px;
     width: 250px;
}

.button {
     height: 38px;
     background: #cccccc;
     padding-inline: 20px;
     color: #353637;
}
/* End newsletter */
/* Start boxes */
#boxes {
     margin-top: 20px;
     padding: 60px 120px;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     align-content: center;
}

#boxes .box {
     text-align: center;
     margin-left: 10px;
}

@media (max-width: 970px){
     #boxes {
          flex-direction: column;
     }
}
/* End boxes */
/* Start Footer */
#footer {
     padding: 20px;
     margin-top: 20px;
     color: white;
     background-color: #32a0c2;
     text-align: center;
}
/* End Footer */